@font-face {
    font-family: ZCOOL;
    src: url('../assets/fonts/ZCOOLKuaiLe-Regular.ttf');
    font-weight: 400;
  }
@keyframes updown {
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}


.banner{
    padding: 260px 0 100px;
    .ant-row{
        justify-content: center;
        .introduce{
            font-family: 'ZCOOL', sans-serif !important;
            .typewrite{
                margin: 2rem 0;
                .wrap {
                    font-size: 2.5rem;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                    border-right: 0.08em solid #666;
                }
            }

        }
        img {
            width: 100%;
            height: auto;
            animation: updown 3s linear infinite;
        }
    }

}